<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<connectionStrings>
		<add name="NextItemBuyEntities" connectionString="metadata=res://*/NextItemBuy.csdl|res://*/NextItemBuy.ssdl|res://*/NextItemBuy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-19LHSJH;initial catalog=NextItemBuy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="staticResourceVersion" value="001"/>
		<add key="secretKey" value="NextItemBuyAppPassword"/>
	</appSettings>
	
	<system.web>
		<compilation debug="true" targetFramework="4.6.1"/>
		<httpRuntime targetFramework="4.6.1"/>
	</system.web>
	
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<httpProtocol>
			<customHeaders>
				<!--<add name="Access-Control-Allow-Origin" value="*" />-->
				<add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS, PUT, PATCH, DELETE"/>
				<add name="Access-Control-Allow-Origin" value="http://localhost:4200"/>
				<add name="Access-Control-Allow-Credentials" value="true"/>
				<!--<add name="Access-Control-Allow-Methods" value="GET,HEAD,OPTIONS,POST,PUT" />-->
				<add name="Access-Control-Allow-Headers" value="Access-Control-Allow-Headers, Origin,Accept, X-Requested-With, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers, Set-Cookie, Cookie, Authorization, Token,  *"/>
				<add name="Access-Control-Expose-Headers" value="token, Token, *, Content-Disposition"/>
			</customHeaders>
		</httpProtocol>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule"/>
		</modules>
		<defaultDocument>
			<files>
				<clear/>
				<add value="index.html"/>
			</files>
		</defaultDocument>
		<staticContent>
			<remove fileExtension=".woff2"/>
			<mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
		</staticContent>
		<httpErrors errorMode="Custom" defaultResponseMode="File">
			<remove statusCode="404"/>
			<error statusCode="404" path="index.html"/>
		</httpErrors>
		<handlers>
			<remove name="dotless"/>
			<add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition=""/>
			<!--<add name="ImageStaticHandler" verb="GET" path="*.img" type="DentalChamber.Web.Handlers.ImageStaticHandler, DentalChamber.Web, Version=1.0.0.0, Culture=neutral" />-->
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<remove name="OPTIONSVerbHandler"/>
			<remove name="TRACEVerbHandler"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
		<rewrite>
			<rules>
				<rule name="AngularJS" stopProcessing="true">
					<match url=".*"/>
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
						<add input="{REQUEST_URI}" pattern="^/(api)" negate="true"/>
						<add input="{REQUEST_URI}" pattern="^/styles" negate="true"/>
						<add input="{REQUEST_URI}" pattern="^/scripts" negate="true"/>
						<add input="{REQUEST_URI}" pattern="^/image.img" negate="true"/>
					</conditions>
					<action type="Rewrite" url="/"/>
				</rule>
				<!--<rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>-->
			</rules>
		</rewrite>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0"/>
			</dependentAssembly>&gt;
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>