<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NextItemBuyEntities" connectionString="metadata=res://*/NextItemBuy.csdl|res://*/NextItemBuy.ssdl|res://*/NextItemBuy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-19LHSJH;initial catalog=NextItemBuy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>