<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Item Buy</title>
    <link href="/bundles/styles.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">*@
    
</head>
<body>
    @RenderBody()


    <!-- SCRIPT REFERENCES START -->
    <script type="text/javascript" src="/bundles/runtime.0ae8362e3a2b9c89.js"></script>
    <script type="text/javascript" src="/bundles/"></script>
    <script type="text/javascript" src="/bundles/polyfills.2750bfa470831ca8.js"></script>
    <script type="text/javascript" src="/bundles/main.9e0e10ab93517436.js"></script>
    <!-- SCRIPT REFERENCES END -->
</body>
</html>
